@model List<Vitaly_Manager.Entidades.Proveedor>
@using System.Globalization
@using Vitaly_Manager.Entidades
@using W3CRM.Controllers
@{
ViewData["Title"] = "Consulta de Proveedores";
}
    <!--**********************************
        Inicio del cuerpo del contenido
    ***********************************-->

    <style>
        /* Se define un estilo de reducción de margen para los elementos */
        .small-margin-bottom {
            margin-bottom: -30px;
        }
    </style>

    <div class="content-body">
        <div class="page-titles">
            <ol class="breadcrumb">
            <!-- Título principal -->
                <li><h5 class="bc-title">Proveedores</h5></li>
            <!-- Ruta de navegación hacia la página de inicio. -->
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "w3crm")">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.125 6.375L8.5 1.41667L14.875 6.375V14.1667C14.875 14.5424 14.7257 14.9027 14.4601 15.1684C14.1944 15.4341 13.8341 15.5833 13.4583 15.5833H3.54167C3.16594 15.5833 2.80561 15.4341 2.53993 15.1684C2.27426 14.9027 2.125 14.5424 2.125 14.1667V6.375Z" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M6.375 15.5833V8.5H10.625V15.5833" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        Inicio
                    </a>
                </li>
            <!-- Ruta actual/Página actual -->
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Consulta de Proveedores</a></li>
            </ol>
            <a class="text-primary fs-13" data-bs-toggle="offcanvas" href="#offcanvasExample1" role="button" aria-controls="offcanvasExample1">+ Add Task</a>
        </div>
    <!-- Mensaje de error si existe un problema desde el controlador -->
        @if (ViewData["Error"] != null)
    {
        <div class="alert alert-danger">@ViewData["Error"]</div>
    }

    <!-- Contenedor principal de la página -->
    <div class="container-fluid">
        <div class="tab-content" id="myTabContent-2">
            <div class="tab-pane fade show active" id="withoutSpace" role="tabpanel" aria-labelledby="home-tab-2">
                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <table id="example3" class="display table" style="min-width: 845px">
                            <thead>
                                <tr>
                                    <!-- Encabezados de la tabla de proveedores -->
                                    <th>Nombre del Proveedor</th>
                                    <th>Teléfono</th>
                                    <th>Página de Contacto</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var proveedor in Model)
                                {
                                    if (proveedor.ID_Proveedor != null)
                                    {
                                        <tr id="@proveedor.ID_Proveedor">
                                            <td>@proveedor.Nombre_Proveedor</td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(proveedor.Telefono))
                                                {
                                                    <a href="javascript:void(0);"><strong>@proveedor.Telefono</strong></a>
                                                }
                                                else
                                                {
                                                    <span class="text-muted">No disponible</span>
                                                }
                                            </td>
                                            <td>@(string.IsNullOrEmpty(proveedor.Pagina_Contacto) ? "No disponible" : proveedor.Pagina_Contacto)</td>

                                            <td>
                                                <div class="d-flex">
                                                    <!-- Botón de modificar -->
                                                    <a href="#javascript:void(0)" class="btn btn-primary shadow btn-xs sharp me-1" data-bs-toggle="modal" data-bs-target="#modificarProveedor" onclick="modificarProveedor('@proveedor.ID_Proveedor')"><i class="fas fa-pencil-alt"></i></a>
                                                    <!-- Botón de eliminar -->
                                                    <button class="btn btn-danger shadow btn-xs sharp btn-eliminar" onclick="confirmarEliminar('@proveedor.ID_Proveedor')">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   <!--**********************************
        Final del contenido del cuerpo
    ***********************************-->
<!-- Sección de estilos personalizados. -->
    @section w3crm_style
{
        <link href="~/w3crm/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
        <link href="~/w3crm/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- Selector de intervalo de fechas -->
        <link href="~/w3crm/vendor/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Fecha de elección -->
        <link rel="stylesheet" href="~/w3crm/vendor/pickadate/themes/default.css">
        <link rel="stylesheet" href="~/w3crm/vendor/pickadate/themes/default.date.css">
    }

    @section w3crm_script
{
     <!--**********************************
         Scripts
     ***********************************-->

     <script src="~/w3crm/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
     <script src="~/w3crm/js/plugins-init/sweetalert.init.js"></script>
     <script src="~/w3crm/js/styleSwitcher.js"></script>

    <!-- Proveedores requeridos -->
     <script src="~/w3crm/vendor/global/global.min.js"></script>
     <script src="~/w3crm/vendor/chart.js/Chart.bundle.min.js"></script>
     <script src="~/w3crm/vendor/tagify/dist/tagify.min.js"></script>

    <!-- Gráfico de vértice -->
     <script src="~/w3crm/vendor/apexchart/apexchart.js"></script>

    <!-- Tabla de datos -->
     <script src="~/w3crm/vendor/datatables/js/jquery.dataTables.min.js"></script>
     <script src="~/w3crm/js/plugins-init/datatables.init.js"></script>
     <script src="~/w3crm/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <!-- código -luz alta -->
     <script src="~/w3crm/js/highlight.min.js"></script>

    <!-- momento js es imprescindible -->
     <script src="~/w3crm/vendor/moment/moment.min.js"></script>
     <script src="~/w3crm/vendor/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Fecha de elección -->
     <script src="~/w3crm/vendor/pickadate/picker.js"></script>
     <script src="~/w3crm/vendor/pickadate/picker.time.js"></script>
     <script src="~/w3crm/vendor/pickadate/picker.date.js"></script>

    <!-- Fecha de elección -->
     <script src="~/w3crm/js/plugins-init/pickadate-init.js"></script>
     <script src="~/w3crm/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
     <script src="~/w3crm/js/custom.js"></script>
     <script src="~/w3crm/js/deznav-init.js"></script>
     <script src="~/w3crm/js/demo.js"></script>
     <script src="~/w3crm/js/styleSwitcher.js"></script>

     <script src="~/w3crm/js/custom.js"></script>
     <script src="~/w3crm/js/deznav-init.js"></script>
     <script src="~/w3crm/js/demo.js"></script>



     <script>
         hljs.highlightAll();
         hljs.configure({ ignoreUnescapedHTML: true })

     </script>

     <script>
         document.addEventListener('DOMContentLoaded', (event) => {
             document.querySelectorAll('pre code').forEach((el) => {
                hljs.highlightElement(el);
            });
          });
     </script>

     <script>

     </script>


     <script>
         (function () {
             'use strict'

           // Obtener todos los formularios a los que queremos aplicar estilos de validación de Bootstrap personalizados
            var forms = document.querySelectorAll('.needs-validation')

           //Bucle sobre ellos y evitar la sumisión
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
     </script>

    <!-- Proceso para modificar un provedor -->
    <script>

        function recargarTablaProveedor() {
            $.ajax({
                url: '/Productos/ObtenerProveedoresActualizados',
                type: 'GET',
                success: function (response) {
                    if (response.success) {
                        var tabla = $('#example3 tbody');
                        tabla.empty();

                        response.data.forEach(function (proveedor) {
                            var fila = `
                                    <tr id="${proveedor.iD_Proveedor}">
                                        <td>${proveedor.nombre_Proveedor}</td>
                                        <td><a href="javascript:void(0);"><strong>${proveedor.telefono || 'No disponible'}</strong></a></td>
                                        <td>${proveedor.pagina_Contacto || 'No disponible'}</td>
                                    <td>
                                        <div class="d-flex">
                                                    <a href="#javascript:void(0)" class="btn btn-primary shadow btn-xs sharp me-1" data-bs-toggle="modal" data-bs-target="#modificarProveedor" onclick="modificarProveedor('${proveedor.iD_Proveedor}')"><i class="fas fa-pencil-alt"></i></a>
                                                    <button class="btn btn-danger shadow btn-xs sharp btn-eliminar" onclick="confirmarEliminar('${proveedor.iD_Proveedor}')">
                                                                <i class="fa fa-trash"></i>
                                                    </button>
                                        </div>
                                    </td>
                                </tr>
                            `;
                            tabla.append(fila);
                        });
                    } else {
                        console.error("Error al obtener los proveedores actualizados.");
                    }
                },
                error: function (error) {
                    console.error("Error en la solicitud AJAX:", error);
                }
            });
        }

        function modificarProveedor(idProveedor) {
            $.ajax({
                url: '/Productos/SeleccionarProveedorModificar',
                type: 'GET',
                data: { id: idProveedor },
                success: function (response) {
                    document.getElementById('idProveedorModificar').value = idProveedor;
                    document.getElementById('nombreProveedorModificar').value = response.nombre_Proveedor;
                    document.getElementById('numeroTelefonicoProveedorModificar').value = response.telefono;
                    document.getElementById('contactoAlternativoProveedorModificar').value = response.pagina_Contacto;
                },
                error: function (error) {
                    console.error('Error al obtener los datos del proveedor:', error);
                }
            });
        }


        (function () {
            'use strict';

            var form = document.getElementById('formularioModificarProveedor');
            const idProveedor = document.getElementById("idProveedorModificar");
            const nombreProveedor = document.getElementById("nombreProveedorModificar");
            const numeroTelefonicoProveedor = document.getElementById("numeroTelefonicoProveedorModificar");
            const contactoAlternativoProveedor = document.getElementById("contactoAlternativoProveedorModificar");

            if (form) {
                form.addEventListener('submit', function (event) {
                    event.preventDefault();

                    nombreProveedor.classList.remove('is-invalid');
                    numeroTelefonicoProveedor.classList.remove('is-invalid');
                    contactoAlternativoProveedor.classList.remove('is-invalid');

                    if (!form.checkValidity()) {
                        event.stopPropagation();
                        form.classList.add('was-validated');
                    } else {
                        $.ajax({
                            url: '/Productos/ModificarProveedor',
                            type: 'POST',
                            data: {
                                nombre: nombreProveedor.value,
                                telefono: numeroTelefonicoProveedor.value,
                                contactoAlternativo: contactoAlternativoProveedor.value,
                                proveedorSeleccionado: idProveedor.value
                            },

                            success: function (response) {
                                if (response.success) {
                                    Swal.fire({
                                        icon: 'success',
                                        title: '¡Proveedor modificado!',
                                        text: response.message,
                                        confirmButtonText: 'Aceptar'
                                    }).then((result) => {
                                        form.reset();
                                        form.classList.remove('was-validated');
                                        $('#modificarProveedor').modal('hide');
                                        recargarTablaProveedor();
                                    });

                                } else {
                                    if (response.errores.includes("telefono")) {
                                        numeroTelefonicoProveedor.classList.add('is-invalid');
                                    }
                                    if (response.errores.includes("nombre")) {
                                        nombreProveedor.classList.add('is-invalid');
                                    }
                                    if (response.errores.includes("alternativo")) {
                                        contactoAlternativoProveedor.classList.add('is-invalid');
                                    }
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Error',
                                        text: response.message,
                                        confirmButtonText: 'Aceptar'
                                    });
                                }
                            },
                            error: function (error) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: 'Hubo un error al comunicarse con el servidor.',
                                    confirmButtonText: 'Aceptar'
                                });
                            }
                        });
                    }
                }, false);
            }

        })();

        document.getElementById('numeroTelefonicoProveedorModificar').addEventListener('input', function (e) {
            var value = e.target.value.replace(/[^0-9]/g, '');

            if (value.length > 3) {
                value = value.substring(0, 3) + '-' + value.substring(3);
            }

            if (value.length > 7) {
                value = value.substring(0, 7) + '-' + value.substring(7);
            }

            if (value.length >= 13) {
                value = value.replace(/[-+]/g, '');
                var ultimos4 = value.substring(value.length - 4);
                value = value.substring(0, value.length - 4);
                var ultimos3 = value.substring(value.length - 3);
                value = value.substring(0, value.length - 3);
                var primeros3 = value.substring(value.length - 3);
                value = value.substring(0, value.length - 3);
                value = "+" + value + " " + primeros3 + "-" + ultimos3 + "-" + ultimos4;
            }
            e.target.value = value;
        });

    </script>
    <!-- Proceso de eliminacion de un provedor -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            console.log("DOM completamente cargado y listo.");
        });

        function confirmarEliminar(idProveedor) {
            // Confirmación nativa del navegador
            const userConfirmed = confirm("¿Estás seguro de que deseas eliminar este proveedor? Esta acción no se puede deshacer.");

            if (userConfirmed) {
                eliminarProveedor(idProveedor);
            } else {
                console.log("El usuario canceló la eliminación.");
            }
        }

        function eliminarProveedor(idProveedor) {
            console.log("Iniciando proceso de eliminación para ID:", idProveedor);
            const eliminarProveedorUrl = '@Url.Action("EliminarProveedor", "Productos")';

            // Solicitud AJAX para eliminar el proveedor
            $.ajax({
                url: eliminarProveedorUrl,
                type: 'POST',
                data: { idProveedor: idProveedor },
                dataType: 'json',
                success: function (response) {
                    console.log("Respuesta del servidor:", response);
                    if (response.success) {
                        alert("Proveedor eliminado exitosamente.");
                        document.getElementById(idProveedor).remove(); // Elimina la fila
                    } else {
                        alert("Error al eliminar el proveedor: " + response.message);
                    }
                },
                error: function () {
                    alert("Hubo un error en el proceso de eliminación. Intenta de nuevo.");
                }
            });
        }

    </script>
}